<script src="https://unpkg.com/vue@3.0.1/dist/vue.global.prod.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

<div id="app">
  <h1>NHL Teams - 2020-Columbia-Build-Lab-Coding-Exercise</h1>
  <ul>
    <div v-for="team in orderedTeams" :key="team.id">
      <li>${team.name}$: ${team.score}$</li>
      <button @click="increaseTeamScore(team)">Increase Score</button>
    </div>
  </ul>
</div>

<script>

  const { createApp } = Vue

  createApp({
    delimiters: ["${", "}$"],
    data() {
      return {
        teamData: []
      }
    },
    methods: {
      async increaseTeamScore(team) {

        var payload = {
          id: team.id
        }

        const response = await fetch("http://127.0.0.1:5000/api/increase_score",
         {
          headers: {
          "Content-Type": "application/json",
          },
          method: "POST",
          body: JSON.stringify(payload)
         })

         let content = await response.json()

         this.teamData = content
      },
      async getTeams() {
        const response = await fetch("http://127.0.0.1:5000/api/teams").then((response) => response.json())
        this.teamData = response
      }
    },
    computed: {
      orderedTeams() {

        data = _.orderBy(this.teamData.scoreboard, ['score'], ['desc'])

        return data
      }
    },
    created() {
      this.getTeams()
    }
  }).mount('#app')
</script>